#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
  background-color: #f3f3f3;
  min-height: 100vh;
  height: 100%;
}

.page__content {
  margin: 0 auto;
}

.page__container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}
