.main {
}

.main__title {
}

.main__products {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  row-gap: 30px;
  column-gap: 80px;
  justify-content: center;
}
