.product {
  background-color: #f9f9f9;
  /* border: 1px solid black; */
  width: 220px;
  height: 280px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.product__info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.product__title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.product__description {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
