.product {
  background-color: #f9f9f9;
  /* border: 1px solid black; */
  width: 200px;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.product__title {
  font-size: 20px;
  font-weight: 500;
}

.product__description {
  font-size: 14px;
  font-weight: 400;
}
